In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('http://stats.moe.gov.tw/files/detail/107/107_student.csv')

In [7]:
df.head(20)

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
0,1,國立政治大學,D 日,D 博士,96,85,82,78,93,59,...,71,52,58,46,74,40,-,-,30 臺北市,1 一般
1,1,國立政治大學,D 日,M 碩士,624,742,632,695,348,431,...,-,-,-,-,-,-,-,-,30 臺北市,1 一般
2,1,國立政治大學,D 日,B 學士,899,"1,287",890,"1,332",878,"1,325",...,-,-,-,-,-,-,326,463,30 臺北市,1 一般
3,1,國立政治大學,N 職,M 碩士,303,248,253,259,201,210,...,53,47,-,-,-,-,-,-,30 臺北市,1 一般
4,2,國立清華大學,D 日,D 博士,225,99,201,71,189,73,...,158,50,112,43,168,58,-,-,18 新竹市,1 一般
5,2,國立清華大學,D 日,M 碩士,"1,315",719,"1,159",639,464,306,...,6,13,4,10,-,-,-,-,18 新竹市,1 一般
6,2,國立清華大學,D 日,B 學士,"1,089",865,"1,087",936,"1,161",994,...,-,-,-,-,-,-,286,166,18 新竹市,1 一般
7,2,國立清華大學,D 日,X 4+X,22,16,19,8,-,-,...,-,-,-,-,-,-,-,-,18 新竹市,1 一般
8,2,國立清華大學,N 職,M 碩士,186,238,165,227,40,125,...,17,46,8,14,16,52,-,-,18 新竹市,1 一般
9,3,國立臺灣大學,D 日,D 博士,408,196,374,168,383,147,...,304,123,234,109,352,153,-,-,30 臺北市,1 一般
10,3,國立臺灣大學,D 日,M 碩士,"2,445","1,552","2,343","1,475",930,604,...,-,-,-,-,-,-,-,-,30 臺北市,1 一般
11,3,國立臺灣大學,D 日,B 學士,"2,126","1,525","2,110","1,666","2,122","1,673",...,184,98,126,61,102,35,671,537,30 臺北市,1 一般
12,3,國立臺灣大學,N 職,M 碩士,321,238,316,201,152,93,...,35,7,37,20,-,-,-,-,30 臺北市,1 一般
13,4,國立臺灣師範大學,D 日,D 博士,109,116,122,120,99,99,...,95,82,87,90,70,67,-,-,30 臺北市,3 師範
14,4,國立臺灣師範大學,D 日,M 碩士,614,796,548,711,344,516,...,-,-,-,-,-,-,-,-,30 臺北市,3 師範
15,4,國立臺灣師範大學,D 日,B 學士,846,"1,066",850,"1,063",843,"1,078",...,-,-,-,-,-,-,240,271,30 臺北市,3 師範
16,4,國立臺灣師範大學,N 職,M 碩士,196,450,164,399,111,263,...,49,104,33,71,-,-,-,-,30 臺北市,3 師範
17,5,國立成功大學,D 日,D 博士,244,110,216,97,183,79,...,141,69,129,49,140,59,-,-,21 臺南市,1 一般
18,5,國立成功大學,D 日,M 碩士,"1,849","1,072","1,766",982,463,294,...,1,5,-,-,-,-,-,-,21 臺南市,1 一般
19,5,國立成功大學,D 日,B 學士,"1,672","1,010","1,651","1,041","1,668",996,...,82,68,49,27,53,21,355,149,21 臺南市,1 一般

In [8]:
df[["一年級男生", "一年級女生"]]

     一年級男生  一年級女生
0       96     85
1      624    742
2      899  1,287
3      303    248
4      225     99
5    1,315    719
6    1,089    865
7       22     16
8      186    238
9      408    196
10   2,445  1,552
11   2,126  1,525
12     321    238
13     109    116
14     614    796
15     846  1,066
16     196    450
17     244    110
18   1,849  1,072
19   1,672  1,010
20     287    179
21     103     52
22     879    564
23   1,087    799
24     346    193
25      91    129
26     297     90
27   1,450    671
28     881    417
29     344    206
..     ...    ...
782     13     17
783      -      -
784     10     20
785      5      6
786     48    111
787      2      1
788     17     43
789      4     11
790     14     13
791     95    686
792    111    105
793    238    905
794    138     94
795    339  1,150
796    145     79
797     13     23
798    171    580
799     57     80
800    100    835
801      1     61
802     97    706
803     41    351
804     89    550
805     85    358
806    136  1,108
807     19     32
808     14     20
809    124    252
810    566    725
811     98    271

[812 rows x 2 columns]

In [10]:
df.二年級女生

0         78
1        695
2      1,332
3        259
4         71
5        639
6        936
7          8
8        227
9        168
10     1,475
11     1,666
12       201
13       120
14       711
15     1,063
16       399
17        97
18       982
19     1,041
20       182
21        50
22       543
23       813
24       173
25       116
26        66
27       635
28       416
29       159
       ...
782       12
783        -
784        4
785        7
786       79
787        3
788       36
789       10
790        9
791      687
792       47
793      974
794       50
795    1,039
796       77
797       31
798      620
799       56
800      918
801       43
802      710
803      374
804      610
805      444
806    1,058
807       27
808       14
809      228
810      682
811      237
Name: 二年級女生, Length: 812, dtype: object